.container{
    margin: 100px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 50px 50px;
    border-radius: 7px;
 }
 h1{
     font-size: 40px;
     text-align: center;
 }
 input{
     padding: 10px;
     width: 100%;
     border-radius: 5px;
 }
 button{
     padding: 10px;
     width: 100px;
     background-color: black;
     color: white;
     border-radius: 5px;
     cursor: pointer;   
 }
 p{
     border: 2px solid black;
     padding: 20px;
     box-sizing: border-box;
     border-radius: 5px;
 }