.container{
    border: 1px solid black;
    width: 30%;
    text-align: center;
    font-size: large;
    margin: 100px auto;
    border-radius: 5px;
    background-color: aliceblue;
}
input{
    border-radius: 5px;
    padding: 10px;
    width: 80%;
    box-sizing: border-box;

}
button {
    color: white;
    background-color: black;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}
 p{
    border: 2px solid black;
    padding: 15px;
    margin: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 50%;
    background-color: white;
         
 }
